.ui-layout-center {
	overflow: hidden !important;
}

.ui-layout-center .ui-layout-unit-content {
	overflow: hidden !important;
}

body {
	margin: 10px;
	padding: 10px;
	background-color: #F1F1F1;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #363636;
}

/* Tela grande */
@media ( min-width : 768px) {
	.panel-default {
		margin-left: 10px;
		margin-right: 10px;
	}
	.alert {
		margin-left: 10px;
		margin-right: 10px;
	}
}

.navbar-brand {
	padding-top: 12px;
}

.aw-link-panel {
	float: right;
	padding: 0px;
}

.aw-titulo-panel {
	float: left;
	padding-top: 2px;
}